
            h1 {
                color: brown;
            }

            * {
                border: solid;
            }
        .header{
            background-color: crimson;
            display:flex
        }

